 .para-1{
            color: purple;
            background: black;
        }
         .p
        {
            color: blue;
            
            font-size: 20px;
        }
       
        
       